

button {
    position: fixed;
    z-index: 999999;
    right:3%;
    bottom:3%;
    border-radius: 50%;
    border: none;
    background-color: red;
    cursor: pointer;

   
    transition: all .3s;
    height: 10px;
    width: 10px;
    visibility: hidden;

    &.is-shown {
        height: 50px;
        width: 50px;
        visibility: visible;
    }

    i {
        color: white;
        font-size: 0;



        &.is-shown {
            font-size: 15px;
        }
    }
}